{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Please enter new password and repeat it:</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Change of password failed</h1>
        <p>Password change link is no longer valid. Please request change of password again.</p>
    {% endif %}
{% endblock %}